header {
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
  -webkit-font-smoothing: antialiased;

  h3,
  p {
    color: #ddd;
  }

  p {
    font-size: 1.25rem;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url('/img/pattern.png');
    height: 100%;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: -1;
    filter: blur(1.5px);
  }

  .img-circle {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    height: auto;
  }

  .profile-description {
    padding: 0 1rem;
  }
}
